<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704316547302-3d5saohse8i848ppib411kfe0heg0lso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704316547302-3d5saohse8i848ppib411kfe0heg0lso</string>
	<key>API_KEY</key>
	<string>AIzaSyDKBhoOOoXcV4-EzGu4LBjKU5OFiZl2bc8</string>
	<key>GCM_SENDER_ID</key>
	<string>704316547302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pavelstarovoytov.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-c47cb</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-c47cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704316547302:ios:138af66197fbae75455b27</string>
</dict>
</plist>